APP_NAME=OCR Organizer
DEBUG=False
HOST=0.0.0.0
PORT=8000
MAX_FILE_SIZE_MB=20
OCR_LANG=por
OCR_USE_GPU=False
PREPROCESS_DEFAULT_GRAYSCALE=True
PREPROCESS_DEFAULT_THRESHOLD=False
PREPROCESS_DEFAULT_DENOISE=True
PREPROCESS_DEFAULT_SHARPEN=True
PREPROCESS_DEFAULT_RESIZE=True
PREPROCESS_DEFAULT_DESKEW=True
PREPROCESS_MAX_DIM=2000
